{% extends "base.html" %}
{% block titulo %} Grupos {% endblock %}

{% block contenido %} 
<div class="card m-4 bg-secondary border-dark">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'agregar_mn' lugar posicion %}" role="button">Agregar</a>
    </div>
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Materia secundaria</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for menu in menus %}
                {% if forloop.first %}
                    <h4 class="card-title">Elementos de {{menu.id_ps_id}}</h4>
                {% endif %}
                <tr>   
                        <td>{{menu.id_mn}}</td>
                        <td>{{menu.id_ms_id}}</td>
                        <td> 
                            <a name="" id="" class="btn btn-info" href="{% url 'editar_mn' lugar menu.id_mn %}" role="button">Editar</a> 
                            |  <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_mn' lugar menu.id_mn %}" role="button">Borrar</a>
                        </td>
                </tr>

                {% endfor %}
            </tbody>

        </table>
        

    </div>
    <div class="card-footer text-muted">

    </div>
</div>
{% endblock %}